<p></p>
<table class='table' data-ng-controller='countryListController'>
    <tr>
        <th colspan="2">
            The following tables are populated from a WebAPI accessing a local data store.
        </th>
    </tr>
    <tr>
        <th>
            Click on a row to filter the country list by the selected continent.
        </th>
        <th></th>
    </tr>
    <tr>
        <td width="50%">
            <table class='table table-striped table-condensed table-hover'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-click='GetCountriesFilteredByContinent(0)'>
                        <td>Show all countries</td>
                        <td>0</td>
                    </tr>
                    <tr data-ng-repeat='Continent in Continents | orderBy: "Name"' data-ng-click='GetCountriesFilteredByContinent(Continent.Id)'>
                        <td>{{Continent.Name}}</td>
                        <td>{{Continent.Id}}</td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td width="50%">
            <table class='table table-striped table-condensed table-hover'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat='Country in Countries | orderBy: "Name"'>
                        <td>{{Country.Name}}</td>
                        <td>{{Country.Id}}</td>
                        <td><button class='btn btn-primary' data-ng-click='open(Country.Id)'>View</button></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>