<div class="modal-header">
    <h1 class="modal-title">Country Details</h1>
</div>
<div data-ng-controller="countryDetailsController">
    <div class="modal-body">
        <p>ID: {{Country.Id}}</p>
        <p>Name: {{Country.Name}}</p>
        <p>Language: {{Country.Language}}</p>
        <p>Continent Id: {{Country.ContinentId}}</p>
        <p>Currency: {{Country.Currency}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>