<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Icon Id="robot.ico" SourceFile="robot.ico"/>
    
    <Component Id="ProductComponent" Directory="INSTALLFOLDER">
      <File Id ="FormsAppExe" Source="$(var.FormsApp.TargetPath)" KeyPath="yes">
        <Shortcut Id="FormsAppShortcut" Directory="FormsAppShortcuts" Name="FormsApp"
                  Description="Application for showing forms" WorkingDirectory="INSTALLFOLDER" Advertise="yes"
                  Icon="robot.ico" />
      </File>
      <RemoveFolder Id="RemoveFormsAppShortcut" Directory="FormsAppShortcuts" On="uninstall"/>
    </Component>
    
    <!--<Component Id="UninstallShortcut" Guid="*" Directory="FormsAppShortcuts">
      <Shortcut Id="UnistallThisProduct" Name="Uninstall FormsApp" Description="Uninstalls the FormsApp application"
                Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
      <RegistryValue Root="HKCU" Key="Software\OpenUniversity\Chris" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>-->
  </Fragment>
</Wix>