@model IEnumerable<MVC.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var restaurant in Model)
{
    <div>
        <H4>@restaurant.Name</H4>
        <div>@restaurant.City, @restaurant.Country</div>
        <hr/>
    </div>
}