@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OU EV Charging Monitor</h1>
    <p class="lead">OU EV Charging Monitor is a web application that allows users to see what the situation is with regard to vehicles that are
                    being charged and those that are waiting for spaces or points to become free.</p>
    <p>When you arrive on campus you should raise a new slot identifying where your vehicle is and, if you are on a charging point or in an EV waiting
       bay, the state of the charging points and waiting bays at the location where you have parked.</p>
    <p>As vehicles are moved on and off the charging points, emails will be generated and sent to the next person in line.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vehicles</h2>
        <p>The vehicle section allows administrators to add, change and remove deyails of vehicles and their owners that are in the OU EV Scheme.</p>
        <p class="btn btn-default">@Html.ActionLink("Vehicles", "Index", "Vehicle")</p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>The locations page provides administrators with the ability to maintain details of the charging points and waiting areas around the campus.</p>
        <p class="btn btn-default">@Html.ActionLink("Locations", "Index", "Location")</p>
    </div>
    <div class="col-md-4">
        <h2>Slots</h2>
        <p>Slots are what scheme members use to register their arrival on campus and to provide details of the charging and waiting bays throughout the day.</p>
        <p class="btn btn-default">@Html.ActionLink("Slots", "Index", "Slot")</p>
    </div>
</div>